﻿@model Control.Models.AddGalleryModel
<form asp-action="DownoloadPictures" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="InstitutionId" value="@Model.InstitutionId" />
    <div class="form-group">
        <label asp-for="GalleriesCollection" class="control-label"></label>
        <input asp-for="GalleriesCollection" type="file" multiple="multiple" accept="image/*" class="form-control" />
        <span asp-validation-for="GalleriesCollection" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>