﻿@model Control.Models.AddCommentModel

@{
    ViewData["Title"] = "AddComment";
}

    <h1>Create Comment</h1>

    <h4>Now u can create ur comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="instId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
