﻿@using System.Linq
@model Control.Models.InstitutionModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div class="container">
    <h2 class="my-4 pb-2 border-bottom  border-dark">
    </h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img style="width: 80%; height: 80%" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Galleries)
                {
                    <div class="col-md-2">
                        <img style="width: 100%; height: 100%" src="@Url.Content(item.PathFile)" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <select asp-for="Rating" id="rateSel" asp-items="@Model.NumbersSelect" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="Rating" class="text-danger"></span>
            <td>
                <input type="button" value="Add rating" onclick="rate('@Model.Id')" />
            </td>
        </div>
    </dl>
</div>

<div>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>

                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-controller="Institution" asp-action="AddComment" asp-route-instId="@Model.Id">
        <input type="submit" value="Add comment" class="btn btn-primary mt-4" />
    </a>
</div>

@{
    var addGalleryModel = new AddGalleryModel()
    {
        InstitutionId = Model.Id
    };
}

<partial name="_AddGallery" model="@addGalleryModel" />

@section Scripts
{
    <script>

        function rate(recordId) {

            var rating = document.getElementById("rateSel").value;
            $.ajax({
                url: '@Url.Action("RateAjax", "Institution")',
                method: 'POST',
                data: { 'rating': rating, 'recordId': recordId },
                error: function(data) {
                    console.log(data);
                    alert('Error ' + data.status + "\n" + data.responseText);
                },
                success: function(data) {
                    $('Rate added');
                }
            });
        }
    </script>
}

