﻿@using System.Net.Mime
@model InstitutionIndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Page" value="@Model.Page" />
            <div class="form-group">
                <label asp-for="SearchKey" class="control-label"></label>
                <input asp-for="SearchKey" class="form-control" value="@Model.SearchKey" />
                <span asp-validation-for="SearchKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.InstitutionModels)
        {
            <div class="col-10 mx-auto col-sm-6 col-md-4 col-lg-3 py-3 border-dark ">
                <div class="card-body border-dark ">
                    <a asp-action="Details" asp-route-recordId="@item.Id">
                        <img style="width: 80%; height: 90%" class=" border-bottom " src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                    </a>
                    <h5>
                        <a asp-action="Details" asp-route-recordId="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </h5>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Address)
                    </p>
                    </div>
            </div>
        }
    </div>
</div>

@if (Model.PagingModel.HasPreviousPage)
{
    @Html.ActionLink("<< Назад", "Index", "Institution",
        new InstitutionIndexModel()
        {
            Author = Model.Author,
            SearchKey = Model.SearchKey,
            Page = Model.Page - 1
        })
}

<b>@Model.Page</b>

@if (Model.PagingModel.HasNextPage)
{
    @Html.ActionLink("Вперед >>", "Index", "Institution",
        new InstitutionIndexModel()
        {
            Author = Model.Author,
            SearchKey = Model.SearchKey,
            Page = Model.Page + 1
        })
}
